@page "/fetchdata"
@inject HttpClient Http
@using MudBlazor

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudDataGrid Items="@forecasts">
        <Columns>
            <Column T="WeatherForecast" Field="Date" Title="Date" />
            <Column T="WeatherForecast" Field="TemperatureC" Title="Temp. (C)" />
            <Column T="WeatherForecast" Field="TemperatureF" Title="Temp. (F)" />
            <Column T="WeatherForecast" Field="Summary" Title="Summary" />
        </Columns>
    </MudDataGrid>
}

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
    }

    public class WeatherForecast
    {
        public DateOnly Date { get; set; }

        public int TemperatureC { get; set; }

        public string? Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
